
.bg-black{
    background-color: black;
}
.feature-component-one{
    height: 100vh;
    padding: 50px 0;
    overflow: hidden;


}

.feature-component-one__container{
    width: 95%;
    margin: auto;
    display: flex;
    /* gap: 50px; */
    position: relative;
}
.feature-component-one__container__img-collection_container{
    width: 580px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}


.feature-component-one__container__img-collection_icon_img_container{
    width: 280px;
    height: 270px;
}

.feature-component-one__container__img-collection_icon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* image-1  */
.feature-component-one__container__img-collection_icon__red_background{
    position: absolute;
    bottom: -135px;
    right: 5px;
    height:135px ;
    width: 200px;
    border-radius: 60px 0 0 0;
    background-color: red;
    animation-name: animationImg-1Background;
    animation-duration: 2s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}
@keyframes animationImg-1Background {
    0%{
        bottom: -135px;
    }
    100%{
        bottom: 5px;
    }
}

.img-collection_icon_img_container__img-1{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
    background-image: url(https://techlab-nextjs.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpattern-1.0fe43105.png&w=384&q=75);
    background-repeat: no-repeat;
    background-position: right;
}
.img-collection_icon_img_container__img-1 img{
    height:132px ;
    width: 195px;
    border-radius: 60px 0 0 0;
    z-index: 2;
    position: absolute;
    bottom: -132px;
    animation-name: animationImg-1;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes animationImg-1 {
    0%{
        bottom: -132px;
    }
    100%{
        bottom: 0;
    }
}

/* img-2  */
.img-collection_icon_img_container__img-2{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;
    overflow: hidden;
}
.img-collection_icon_img_container__img-2 img{
    position: absolute;
    left: -300px;
    bottom: 0;
    border-radius: 40% 10%;
    height: 285px;
    width: 278px;
    animation-name: animation-img2;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes animation-img2 {
    0%{
        left: -300px;
    }
    100%{
        left: 0;
    }
    
}

.img-collection_icon_img_container__img-3{
    position: relative;
    display: flex;
    justify-content: end;
    overflow: hidden;
}
.img-collection_icon_img_container__img-3 img{
    position: absolute;
    right: -250px;
    width: 250px;
    height: 265px;
    border-radius: 50px 10px;   
    animation-name: animationimg-3;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes animationimg-3 {
    0%{
        right: -250px;
    }
    100%{
        right: 0;
    }
}

/* img-4  */
.img-collection_icon_img_container__img-4{
    position: relative;
    display: flex;
    justify-content: start;
    overflow: hidden;
}
.img-collection_icon_img_container__img-4 img{
    position: absolute;
    left: -250px;
    top: 0;
    width: 250px;
    height: 265px;
    border-radius: 0  10px 80px 10px ;   
    animation-name: animationimg-4;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes animationimg-4 {
    0%{
        left:-250px
    }
    100%{
        left: 0;
    }
}

.img-collection_icon_container i{
    font-size: 40px;
    color: var(--white);
    background-color: var(--international-orange);
    padding: 5px;
    border-radius: 50%;
    border: 10px solid;
    animation-name: circleAnimation;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes circleAnimation {
    0%{
        opacity: 0;
        padding: 5px;

    }   
    100%{
        opacity: 1;
        padding: 20px;
    } 
}
.img-collection_icon_container{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

/* left text   */
.feature-component-one_left-text__heading_one{
    color: var(--international-orange);
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
.feature-component-one_left-text__heading_two{
    font-size: 44px;
    color: var(--white);
    line-height: 1.25;

}
.feature-component-one_left-text__para{
    margin-top: 10px;
    color: var(--philippine-silver);
    font-size: 20px;
}
.feature-component-one__container__btn{
    margin-top: 30px;
    height: 85px;
    display: flex;
    gap: 10px;
}
.feature-component-one__container__btn .feature-component-one__container__btn_one{
    height: 100%;
    width: 305.83px;
    padding: 15px;
    border: 1px solid var(--international-orange);
    border-radius: 5px;
    display: flex;
    gap: 15px;
    

}
.feature-component-one__container__btn .feature-component-one__container__btn_two{
    height: 100%;
    width: 305.83px;
    border: 1px solid var(--international-orange);
    border-radius: 5px;
}
 
.feature-component-one__container__btn_one h3{
color: var(--white);
font-size: 22px;
line-height: 55px;
}
.feature-component-one__container__btn_one:hover .feature-component-one__container__btn__svg__container{
    scale: 0.9;
    transition: 0.6s;
}
.left-text-last-para{
    margin-top: 20px;
}
.feature-component-one__container__text-collection_content_container{
    padding: 30px 0;
}
.feature-component-one__container__text-collection{
    position: absolute;
    right: -55%;
    animation-name: text-collectionAnimation;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

}
@keyframes text-collectionAnimation{
    0%{
        right: -55%;
    }
    100%{
        right: 0;
    }
    
}

.feature-component-one__container__text-collection_content_container{
    max-width: 640px;
}