.navigation {
    /* position: fixed; */
    width: 100%;
}
/* Top Navigation */
.navigation .top-nav {
    width: 100%;
    position: relative;
}

.navigation .top-nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 84%;
    height: 1px;
    background: var(--philippine-silver);
    right: 0;
}

.navigation .top-nav .top-nav__right ul {
    display: flex;
    justify-content: flex-end;
}

.navigation .top-nav .top-nav__right li .top-nav-link {
    padding: 1rem 2rem;
        display: inline-block;
        transition: 0.5s;
        color: var(--blue-grotto);
        font-size: 1.5rem;
        font-weight: 800;
        color:var(--black);
}

.navigation .top-nav .top-nav__right li .top-nav-link.active{
    color:var(--white);
    background: var(--blue-grotto);
}

.navigation .top-nav .top-nav__right li .top-nav-link:hover {
    color: var(--dark-blue);
}

/* Top Navigation End */

