/* footer section start  */
.footer {
    width: 100%;
}

.footer .footer_layout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_layout_inner {
    width: 90%;
}
.wave_footer{
    background-color: var(--lochmara);
}


/* footer_layout_inner_top */

.wave_top_text{
    padding: 0 0;
}
.wave_top_text>ul>li{
    font-size: 1.4rem;
    line-height: 1.8rem;

}
.wave_footer_layout_inner_top{
    margin-bottom: 3rem;

}
.wave_bottom_text{
    margin-top: 3rem;

}

.wave_bottom_text>ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
}

.wave_bottom_text>ul>li{
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.wave_footer_layout{
    color: var(--white);
    padding: 5rem 1rem;
}

.footer_layout_inner_top .heading {
    padding: 70px 0px;
    font-size: 40px;
    font-family: roboto, slab;
    font-weight: 600;
}



.footer_layout_inner_top .top_texts{
    padding: 70px 0px 0px 35px;
}
.footer_layout_inner_top .top_text {
    font-size: 14px;
    line-height: 33px;
}
.footer_layout_inner_top .top_text>ul>li>span {
    font-size: 17px;
    font-weight: 600;
}
.wave_footer_layout_inner_bottom{
    padding: 1rem 0;
}
.footer_layout_inner_bottom {
    border-top: 1px solid #141414;
    font-family: Encode, Sans, Expanded;
}

.footer_layout_inner_bottom .bottom_text {
    padding: 30px 10px 50px 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    margin: 10px 10px;
}

.footer_layout_inner_bottom .bottom_text>ul {
    display: flex;
    gap: 50px;
    font-size: 12px;
    text-align: center;
}



.footer_layout_inner_bottom .bottom_text1 {
    padding: 30px 0px 50px 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    margin: 10px 0px 10px 10px;
    text-align: right;
}
.wave_bottom_text1{
    margin-top: 3rem;
    display: flex;
    justify-content: end;
    align-items: end;
}
.wave_footer_layout_inner>hr{
    height: 0.1rem;
    background-color: var(--white);
}


@media screen and (max-width:768px) {
    .wave_top_text{
        padding: 1rem 0;
    }
    .wave_top_text>ul{
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 0.5rem;
    }
    
       .wave_bottom_text>ul{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        transition: ease ;
    }
}

