* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: border-box;
}

:root {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;

    --international-orange: #B91202;
    --maximum-red: #DF2A19;
    --philippine-silver: #B3B3B3;
    --gray: #bebebe;
    --white: #FFFFFF;
    --black: #131318;
    --primary-heading-title: 4.5rem;
    --primary-heading-color: black;
    --secondary-heading-title: 2.4rem;
    --secondary-heading-color: grey;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--gray);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-center {
    display: flex;
    align-items: center;
}

.f-end {
    display: flex;
    justify-content: flex-end;
}

.container {

    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.67%;
}

.col-10 {
    width: 83.33%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66%;
}

.col-7 {
    width: 58.33%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66%;
}

.col-1 {
    width: 8.33%;
}


.primary-heading-title{
    font-size: var(--primary-heading-title);
}

.primary-heading-color{
    color: var(--primary-heading-color);
}

.secondary-heading-title{
    font-size: var(--secondary-heading-title);
}

.secondary-heading-color{
    color: var(--secondary-heading-color);
}