.main {
    z-index: 999;
    position: sticky;
    background: var(--white);
    color: var(--blue-grotto);
}

.main .logo-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 150px;
    height: 93px;
    z-index: 1;
}

.main .logo-image img {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .main{
        display: none;
    }
}