.secondary-navigation {
    width: 100%;
    /* position: sticky; */
    top: 0;
}

.secondary-navigation .logo {
    width: 10rem;
    height: 10rem;
}

.secondary-navigation ul {
    align-items: center;
    height: 100%;
}

.secondary-navigation ul li a {
    font-weight: 600;
    color: var(--dark-blue);
    padding: 4rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: 0.5s;
}

.secondary-navigation ul li a::after {
    display: block;
    position: relative;
    bottom: 0;
    content: '';
    width: 0%;
    height: 2px;
    background:var(--dark-blue);
    transition: all 0.5s;
    margin:1rem auto;
}

.secondary-navigation ul li a:hover::after {
    width: 100%;
}


.secondary-navigation ul li a:hover {
    color: var(--blue-grotto);
}

.secondary-navigation ul li .navigation-sub__main {

    position: absolute;
    top: 13.4rem;
    left: 0;
    height: 85vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0s;
    overflow: hidden;

}


.secondary-navigation ul li:hover .navigation-sub__main {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.secondary-navigation ul li .navigation-sub__main .nav-sub-details {
    position: absolute;
    top: 4rem;
    width:25%;
    height: 30rem;
    padding: 1rem;    
}

.secondary-navigation ul li .navigation-sub__main .nav-sub-details::after {
    background: var(--dark-blue);
    position: absolute;
    content: '';
    width: 1px;
    right: 0px;
    top: 0px;
    height: 100%;
}

.secondary-navigation ul li .navigation-sub__main .nav-sub-details .heading-3{
    padding: 1rem 0;
    text-align: center;
    font-size: 2.4rem;
}

.secondary-navigation ul li .navigation-sub__main .nav-sub-details .nav-heading__intro{
    font-size: 1.4rem;
    text-align: left;
    padding: 1rem 0;
}



