/* Industry Expertise start  */
.industry_expertise {
    padding: 50px 0px;
    background-color: #021d3d;
    width: 100%;
    height: inherit;
    font-family: "Nunito Sans", sans-serif;
    overflow: hidden;
    color: #ffd;
    text-align: center;
}

.industry_expertise_heading_outer {
    display: flex;
    justify-content: center;
}

.industry_expertise_heading {
    width: 50%;
}

.industry_expertise_heading>h3 {
    font-size: 40px;
    padding: 0px 0px;
    color: #ffd;
    text-align: center;
    position: relative;
}

.industry_expertise_heading>h3::before {
    position: absolute;
    content: '';
    top: 110%;
    left: 41%;
    transform: translateY(-50%);
    width: 120px;
    height: 3px;
    background-color: #66fcf1;

}

/* team_innovation start */
.team_innovation {
    padding: 50px 0px 0px 0px;
}

/* industry_expertise_innovation_layout_outer */
.industry_expertise_innovation_layout_outer {
    /* background-color: #66fcf1; */
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.industry_expertise_innovation_layout_inner {
    /* background-color: #c2fc66; */
    height: 650px;
    width: 650px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.round {
    position: relative;
    width: 550px;
    height: 550px;
    border: 2px dotted #66fcf1;
    border-radius: 50%;

}
.round .icon{
position: relative;
width: 100%;
height: 100%;
display: flex;
left: -50%;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: transparent !important;
}
.round .icon .img10x{
    position: absolute;
    background-color: #f8fafc;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    transform: rotate(calc(360deg/10 * var(--i)));
    transform-origin: 305px;
    z-index: 100;
    /* overflow: hidden; */

}
.round .icon .img10x.active{
    /* border-radius: 50%; */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 3px #0095ff, 0 0 0 6px #f8fafc;
}
.round .icon .img10x.active {
background-color: #66fcf1;
}
.round .icon .img10x>img{
    height: 30px;
    width: 30px;
    transform: rotate(calc(-360deg/10 * var(--i)));

}

.round .icon .img10x:hover{
    /* width: 30px; */
    /* height: 30px; */
    /* transform: scale(1); */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #0095ff, 0 0 0 8px #f8fafc;
}

.toggle {
    position: absolute;
    inset: 0;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before {
    content: '';
    position: absolute;
    inset: 50px;
    border: 4px solid transparent;
    border-left: 3px solid #66fcf1;
    border-right: 3px solid #f8fafc;
    border-radius: 50%;
    animation: animte_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animte_01 {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.toggle::after {
    content: '';
    position: absolute;
    inset: 100px;
    border: 4px solid transparent;
    border-left: 3px solid #0095ff;
    border-right: 3px solid #f8fafc;
    border-radius: 50%;
    animation: animte_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animte_02 {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.content10x {
    position: absolute;
    transform: scale(0);
    transform: 0.5s;
    opacity: 0;
}

.content10x.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: .5s;

}

.content10x .card {
    width: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content10x .card h2 {
    position: relative;
    font-size: 2.25em;
    color: #fff;
    line-height: 1em;
    text-align: center;

}

.content10x .card p {
    font-size: 1.02em;
}

/* // */
/* industry_expertise_innovation start */
.industry_expertise_innovation_outer {
    height: 600px;
    display: flex;
    align-items: center;
    font-family: "inter";
    line-height: 32px;
}

.industry_expertise_innovation>h2 {
    font-size: 30px;
}

.industry_expertise_innovation>p {
    font-size: 19px;
    font-weight: 400;
    padding: 20px;
}

/* industry_expertise_innovation end */
/* team_innovation end */
/* Industry Expertise end */