<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Feature Card</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <section class="industry_we_serve">
        <div class="container">
            <div class="industry_we_serve_flex">
                <div class="industry_we_serve_outerlayer">
                    <!-- we_serve start-->
                    <div class="we_serve">
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="industry_we_serve_flex">
                                    <div class="we_serve_content">
                                        <div class="we_serve_content_heading">
                                            <h2 class="heading-font-style"><span> FOCUS SECTORS</span></h2>
                                            <h3 class="secondary-heading">Industries We Serve</h3>
                                            <p class="paragraph-font-style">AllianceTek serves a diverse range of
                                                industries, leveraging our
                                                expertise to provide customized solutions that address industry-specific
                                                challenges.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="industry_we_serve_flex">
                                    <div class="we_serve_images">
                                        <div class="row">
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_wellness_fitness.webp"
                                                            alt="industries_wellness_fitness">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_wellness_fitness.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Healthcare</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_education.webp"
                                                            alt="industries_education">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_education.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Education</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_travel.webp"
                                                            alt="industries_travel">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_travel.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Travel</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_finance.webp"
                                                            alt="industries_finance">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_finance.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Finance</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_real-estate.webp"
                                                            alt="industries_real-estate">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_real-estate.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Real Estate</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_mortgage.webp"
                                                            alt="industries_mortgage">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_mortgage.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Mortgage</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_retail.webp"
                                                            alt="industries_retail">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_retail.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Retail</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 col-sm-6">
                                                <div class="industrys">
                                                    <div class="industrys_img">
                                                        <img src="../component-images/custom-feature-card/industries_cannabis.webp"
                                                            alt="industries_cannabis">
                                                        <div class="industries-overlay">
                                                            <div class="icon">
                                                                <img src="../component-images/custom-feature-card/industries_retail.svg"
                                                                    alt="Healthcare Icon" class="lazy">
                                                            </div>
                                                            <h2 class="head heading-font-style">Cannabis</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- we_serve end -->
            </div>
        </div>
    
    </section>
</body>
</html>