<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Content Keyi Facts</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="experience_matters">
        <div class="container">
            <div class="experience_matters_flex">
                <div class="experience_matters_outerlayer">
                    <!-- ACHIEVEMENTS -->
                    <div class="achievements">
                        <div class="row">
                            <div class="col-6">
                                <div class="experience_matters_flex">
                                    <div class="achievements_images">
                                        <div class="experience_center_img">
                                            <img src="./component-images/experience_matters/experience_center_img.webp"
                                                alt="experience_center_img">
                                        </div>
                                        <!-- <div class="experience_bottom_img">
                                                <img src="./component-images/experience_matters/experience_bottom_img.webp"
                                                    alt="experience_bottom_img">
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="experience_matters_flex">
                                    <div class="achievements_content">
                                        <div class="achievements_content_heading">
                                            <h2><span class="heading-font-style"> Achievements</span>
                                            </h2>
                                            <h3 class="heading-font-style heading-primary-color">Experience Matters</h3>
                                            <p class="paragraph-font-style">We offer software development infused solutions
                                                to varied industries
                                                making sure it aligns with your system, needs and aids in scaling
                                                business.</p>
                                        </div>
                                        <div class="achievements_content_progress">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="experience_matters_flex">
                                                        <div class="progress">
                                                            <h3 class="heading-font-style">18+</h3>
                                                            <p class="paragraph-font-style">Years Of Trust</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="experience_matters_flex">
                                                        <div class="progress">
                                                            <h3 class="heading-font-style">580+</h3>
                                                            <p class="paragraph-font-style">Successful Projects</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="experience_matters_flex">
                                                        <div class="progress">
                                                            <h3 class="heading-font-style">110+</h3>
                                                            <p class="paragraph-font-style">IT Professionals</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="experience_matters_flex">
                                                        <div class="progress">
                                                            <h3 class="heading-font-style">9+</h3>
                                                            <p class="paragraph-font-style">Global Locations</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //ACHIEVEMENTS -->
                </div>
            </div>
        </div>
    </section>
</body>
</html>