<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maimun</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- Feature-content-video-variation start -->
    <section class="feature-content-video-variation">
        <div class="container bg">
            <div class="row">
                <div class="col-6 col-6s">
                    <span class="span">
                        ABOUT US

                    </span>
                    <h2>Sculpting Digital Landscapes
                    </h2>
                    <p>Nulla vitae ex nunc. Morbi quis purus convallis, fermentum metus volutpat, sodales purus. Nunc quis an mauris et eros vulputate mattis Nulla vitae ex nunc. Morbi quis purus convallis, fermentum metus the volutpatquis purus convallis

                    </p>
                </div>
                <div class="col-6"></div>
            </div>
        </div>
    </section>
    <!-- Feature-content-video-variation end -->
</body>
</html>