<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Content Progress Variation</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <section class="feature-content-container">
        <div class="container">
            <div class="row">
                <!-- experince section -->
                <div class="col-6 col-sm-12">
                    <div class="experince">
                        <div class="experince_element">
                            <div class="element-top heading-font-style ">
                                EXPERIENCE
                            </div>
                            <h3 class="animate-time heading-font-style heading-primary-color"><span
                                    class="slide-in-container1">Pay</span> <span class="slide-in-container2">for</span>
                                <span class="slide-in-container3">Quality</span> <span
                                    class="slide-in-container4">Services</span>
                            </h3>
                            <p class="paragraph-font-style">Webixnet stays ahead of the curve with Digital Marketing &amp;
                                Website Development trends.
                                Our success has us leading the pack amongst our competitors with our ability to
                                anticipate change and innovation.
                            </p>
                        </div>
                        <div class="experience_graph">
                            <div class="experience_graph_data">
    
    
                                <div class="experience_graph_data_layout">
                                    <div class="row">
                                        <div class="col-11"><span class="span_element paragraph-font-style">Website
                                                Development Service
                                            </span></div>
                                        <div class="col-1"><span class="span_element_down paragraph-font-style">97%</span>
                                        </div>
                                    </div>
                                    <div class="graph_layout">
                                        <div class="progress_graph">
                                            <div class=" progress1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="experience_graph_data_layout">
                                    <div class="row">
                                        <div class="col-11"><span class="span_element paragraph-font-style">SEO Service
    
                                            </span></div>
                                        <div class="col-1"><span class="span_element_down paragraph-font-style">88%</span>
                                        </div>
                                    </div>
                                    <div class="graph_layout">
                                        <div class="progress_graph">
                                            <div class=" progress2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="experience_graph_data_layout">
                                    <div class="row">
                                        <div class="col-11"><span class="span_element paragraph-font-style">Digital
                                                Marketing Service
    
                                            </span></div>
                                        <div class="col-1"><span class="span_element_down paragraph-font-style">96%</span>
                                        </div>
                                    </div>
                                    <div class="graph_layout">
                                        <div class="progress_graph">
                                            <div class="progress3 "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <!-- // experince section -->
    
                <div class="col-6 col-sm-12">
                    <div class="industry_we_serve_outerlayer-2">
                        <div class="background_moblie">
                            <!-- <img src="/component-images/feature-content-container/background img.png" class="img" alt="background" >
                            <div class="mobile1">
                                <img src="./component-images/feature-content-container/home10-phone1.png" alt="mobile1">
                            </div>
                            <div class="mobile2">
                                <img src="./component-images/feature-content-container/home10_phone2.png" alt="mobile2">
    
                            </div> -->
                            <div class="mobile3">
                                <img class="feature-content-img-1"
                                    src="../component-images/feature-content-progress-variation/feature-content-progress-variation-img-1.jpeg"
                                    alt="feature-content-component-3">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
</body>
</html>