<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Content Custom Video</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <section class="home-about-us-content">
        <div class="container">
            <div class="home-about-us-content__container">
                <div class="home-about-us-content__container_details_container">
                    <div class="col-5">
                        <div class="home-about-us-content__container-info">
                            <div class="home-about-us-content__container-info__heading-container">
                                <h2 class="home-about-us-content__container-info__heading heading-primary-color">
                                    What is Brand Devlopment
                                </h2>
                            </div>
                            <div class="home-about-us-content__container-info__para-container">
                                <p class="home-about-us-content__container-info__para">Brand development requires
                                    formulating a suitable brand building strategy, one that helps your target audience
                                    identify and distinguish your offerings.</p>
                            </div>
                            <!-- btn start -->
                            <div class="home-primary_btn_division service-component-btn">
                                <div class="home-primary_btn_container">
                                    <a href="#" class="home-primary_container_btn-txt">About Us</a>
                                    <span class="home-primary__btn-icon"></span>
                                </div>
                            </div>
                            <!-- btn end  -->
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="home-about-us-content-img-container">
                            <video playsinline="" autoplay="" muted="" loop=""
                                oncontextmenu="if (!window.__cfRLUnblockHandlers) return false; return false;"
                                controlslist="nodownload" id="myVideo">
                                <source
                                    src="https://embed-ssl.wistia.com/deliveries/6958f7f9fa94b1b0a65ff568aa890cd59e556a69.bin?disposition=attachment&amp;filename=Branding.mp4"
                                    type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                            <!-- <img src="https://as2.ftcdn.net/v2/jpg/03/40/99/65/1000_F_340996537_JG1KSnU0haVzhFsefEWis7HL8fNRRDqa.jpg"
                                    alt="about-us-img"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <!-- Initialize Swiper -->
        
        <script src="../javascript/swiper.js"></script>
        <script src="../javascript/first-lvl-nav.js"></script>
        <!-- <script src="../javascript/first-lvl-nav.js"></script> -->
        <script src="../javascript/scroll-nav.js"></script>
</body>
</html>