<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <footer class="wave_footers">
        <section class="wave_footer">
            <div class="container">
                <div class="wave_footer_layout">
                    <div class="wave_footer_layout_inner">
                        <div class="waves">
                            <div class="wave" id="wave1"></div>
                            <div class="wave" id="wave2"></div>
                            <div class="wave" id="wave3"></div>
                            <div class="wave" id="wave4"></div>
                        </div>
                        <div class="wave_footer_layout_inner_top">
                            <div class="row">
                                <div class="col-6">
                                    <div class="wave_heading bigtext">
                                        <span class="heading-font-style">Have a need?
                                            <p>Let’s find a solution.</p>
                                            <button><a href="#">Contact Us Today</a></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="wave_top_texts">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="wave_top_text">
                                                    <ul>
                                                        <li><span class="heading-font-style bigtext">Offices</span></li>
                                                        <li class="paragraph-font-style"><a href="#">London</a></li>
                                                        <li class="paragraph-font-style"><a href="#">New York</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Phoenix</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Dublin</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Edinburgh</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Florida</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Gothenburg</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Helsinki</a></li>
                                                        <li class="paragraph-font-style"><a href="#">India</a></li>
    
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="wave_top_text">
                                                    <ul>
                                                        <li><span class="heading-font-style bigtext">Quick Links</span></li>
                                                        <li class="paragraph-font-style"><a href="#">Careers</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Contact Us</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Connect.ID</a></li>
    
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="wave_top_text">
                                                    <ul>
                                                        <li><span class="heading-font-style bigtext">Follow Us</span></li>
                                                        <li class="paragraph-font-style"><a href="#">Facebook</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Instagram</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Linkedin</a></li>
                                                        <li class="paragraph-font-style"><a href="#">X (Twitter)</a></li>
                                                        <li class="paragraph-font-style"><a href="#">Youtube</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--wave_footer_layout_inner_bottom  -->
                        <div class="wave_footer_layout_inner_bottom">
                            <div class="row">
                                <div class="col-10">
                                    <div class="wave_bottom_text">
                                        <ul>
                                            <li class="paragraph-font-style bigtext"><a href="#">Accessibility</a></li>
                                            <li class="paragraph-font-style"><a href="#">Terms of Use</a></li>
                                            <li class="paragraph-font-style"><a href="#">Privacy Policy</a></li>
                                            <li class="paragraph-font-style"><a href="#">GDPR</a></li>
                                            <li class="paragraph-font-style"><a href="#">Modern Slavery Statement</a></li>
                                            <li class="paragraph-font-style"><a href="#">Cookie Settings</a></li>
                                            <li class="paragraph-font-style"><a href="#">Cookie Policy</a></li>
                                            <li class="paragraph-font-style"><a href="#">Site Map</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="wave_bottom_text1"><span class="paragraph-font-style">©2024 OWT</span></div>
                                </div>
    
                            </div>
                        </div>
                        <!-- /wave_footer_layout_inner_bottom -->
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>