<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Navigation</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <section class="main" id="nav-scroll">
        <nav class="navigation">
            <!-- Top Navigation -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="top-nav">
                            <div class="top-nav__right">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Service</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Product</a></li>
                                    <li><a href="#">Franchies</a></li>
                                    <li><a href="#">Placement</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>



        <section class="secondary-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-1 f-center">
                        <div class="logo">
                            <a href="/index.html"><img src="../component-images/navigation/owt-logo.png" alt="logo"></a>
                        </div>
                    </div>

                    <div class="col-11">
                        <ul class="f-end">
                            <li><a href="#">About us</a>

                                <div class="navigation-sub__main">

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="nav-sub-details">
                                                   <h3 class="heading-3">Company</h3>
                                                    <p class="nav-heading__intro">
                                                        The One Web Technology Established at Vadodara, we have grown to a well-established unit providing software, back
                                                        office, Web designing to all other company in all over the India and our sister companies.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="nav-sub-details">
                                                    <h3>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At,
                                                        ex.
                                                    </h3>

                                                   
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="nav-sub-details">
                                                    <h3>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At,
                                                        ex.
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Our Work</a></li>
                            <li><a href="#">Experience</a></li>
                            <li><a href="#">Achivements</a></li>
                            <li><a href="#">Our Project</a></li>
                            <li><a href="#">Contact us</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>



    <!-- <script src="../javascript/first-lvl-nav.js"></script> -->
    <script src="../javascript/scroll-nav.js"></script>
</body>

</html>