<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Naviagation</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="top-nav">
                    <div class="top-nav__right">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>


</body>

</html>