<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secondary Level Navigation</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- Secondary Navigation -->
    <section class="secondary-navigation" id="nav-scroll">
        <div class="container">
            <div class="row">
                <div class="col-3 f-center">
                    <div class="logo">
                        <a href="/index.html"><img src="../component-images/navigation/owt-logo.png"
                                alt="logo"></a>
                    </div>
                </div>

                <div class="col-9">
                    <ul class="f-end">
                        <li><a href="#">Service Sector</a>
                            
                            <div class="navigation-sub__main">
                                <div class="navigation-sub__right">
                                    <img src="../component-images/navigation/first-nav-slide.jpg" alt="">
                                    <div class="navigation-sub-right__details">
                                        <h3>Why choose our <span class="heading-red"> Company</span></h3>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </li>
                        <li><a href="#">Education Sector</a></li>
                        <li><a href="#">Product Sector</a></li>
                        <li><a href="#">Franchies Sector</a></li>
                        <li><a href="#">Placement Sector</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <h1 class="primary-heading-title">HEllo</h1>



    <script src="../javascript/scroll-nav.js"></script>
</body>

</html>